@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-variation-settings: "wght" 400;
}

:root {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

@font-face {
  font-family: "BMJUA";
  src: url("/fonts/BMJUA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
